NEXT_PUBLIC_SUPABASE_URL=https://rdtwvojyblxvjssytsmt.supabase.co           # Supabase project URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkdHd2b2p5Ymx4dmpzc3l0c210Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNTE3ODcsImV4cCI6MjA5NzYyNzc4N30.LjmZ32_o9kUYRooX4vHN9DObVz9YmViRw_1AeP5yTUw      # Supabase anon/public key
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkdHd2b2p5Ymx4dmpzc3l0c210Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjA1MTc4NywiZXhwIjoyMDk3NjI3Nzg3fQ.TSZCv4xsm0eXxfyDHRa9Ax6frUbX_6LjoEBX872pv2Q          # Supabase service role (server only)
NEXT_PUBLIC_SANITY_PROJECT_ID=rg3vifbx     # Sanity project ID
NEXT_PUBLIC_SANITY_DATASET=production         # Sanity dataset (e.g. production)
SANITY_API_TOKEN=skx9fKlzhTvR5QwuEnrfAJ96NICapqWyrmV46uOxe3qEQUILcLw9me3DlMsP4E7szYuzfgNG4Y8ADmiZQgKe9YzupHOYvxJ1NE5acIDM4L1A5JGN8F2O4JRMSPnl5DoGEwVuoTtnbtyo1F6UJMlIGyMs34PBvEj3BG6mBn4PEvgI7Mu8hKgc                   # Sanity write token (server only)
STRIPE_SECRET_KEY=sk_test_51Tkp35RzdO7DWOHeXdkOG3QTyXPUahdCtr30CK4eGMaAsdlILPbTTV4tyKutwflS2mS2kCBCj6AspljldL0gSCDG004xGOWsUj                  # Stripe secret key (server only)
STRIPE_WEBHOOK_SECRET=              # Stripe webhook signing secret
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Tkp35RzdO7DWOHeN4EuVtpLzOeQZoRjifJLR9Hu0EXYU4lm5koMrh7MuH0zhizvNmCBjMs5LZsYdoYK95T77t3300UsxiOXf2 # Stripe publishable key (client)
KITCHEN_PIN=150110                        # PIN for /kitchen route auth
